[project]
	description = Dragonboard android kernel with RT Linux support
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group RTDroid
	owner = group user/Pranav Tipnis (tipnispranav)
[access "refs/for/refs/*"]
	read = group Anonymous Users
	read = group RTDroid
	read = group user/Pranav Tipnis (tipnispranav)
	push = group RTDroid
	push = group user/Pranav Tipnis (tipnispranav)
	label-Code-Review = -2..+2 group RTDroid
	label-Code-Review = -2..+2 group user/Pranav Tipnis (tipnispranav)
	label-Verified = -1..+1 group RTDroid
	label-Verified = -1..+1 group user/Pranav Tipnis (tipnispranav)
	rebase = group RTDroid
	rebase = group user/Pranav Tipnis (tipnispranav)
	removeReviewer = group RTDroid
	removeReviewer = group user/Pranav Tipnis (tipnispranav)
	submit = group RTDroid
	submit = group user/Pranav Tipnis (tipnispranav)
[access "refs/heads/*"]
	read = group Anonymous Users
	read = group RTDroid
	read = group user/Pranav Tipnis (tipnispranav)
	create = group RTDroid
	create = group user/Pranav Tipnis (tipnispranav)
	push = group RTDroid
	push = +force group user/Pranav Tipnis (tipnispranav)
	pushMerge = group RTDroid
	pushMerge = group user/Pranav Tipnis (tipnispranav)
[access "refs/tags/*"]
	push = group RTDroid
	push = +force group user/Pranav Tipnis (tipnispranav)
	pushTag = group RTDroid
	pushTag = group user/Pranav Tipnis (tipnispranav)
	pushSignedTag = group RTDroid
	pushSignedTag = group user/Pranav Tipnis (tipnispranav)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
